@page
@using EShop.Web.Pages.Baskets
@using Volo.Abp.Users
@using EShop.Localization
@using Microsoft.Extensions.Localization
@model EShop.Web.Pages.Baskets.IndexModel
@inject IStringLocalizer<EShopResource> L
@inject CurrentUser CurrentUser
@section scripts
{
    <abp-script src="/Pages/Baskets/Index.js"></abp-script>
}

    <div class="row">
        <div id="BasketArea" class="pt-5">
            
        </div>
    </div>
       
    


